.footer{
  background-color: rgb(0, 146, 228);
  text-align: center;
  padding: 16px 0;
}

.footer p{
  margin: 0 0 8px 0;
  font-size: 14px;
  color: #FFF;
}

.footer a, .footer a:hover {
  color: #FFF;
  text-decoration: none;
  font-weight: 700;
}
