.single-poll {
  margin: 20px 0;
  padding: 15px;
  border-radius: 2px;
}

.poll-title{
  font-size: 28px;
  margin-bottom: 16px;
  font-weight: 400;
  color: #616161;
}

.poll-title a{
  text-decoration: none;
  color: #616161;
}

.author-name{
  font-size: 16px;
  margin-bottom: 16px;
  color: #757575;
}

.poll-option{
  font-size: 14px;
  color: #888;
  margin-bottom: 8px;
}

.poll-action a{
  color: #555;
  text-decoration: none;
  font-size: 14px;
  font-style: italic;
}

.poll-action a:hover{
  color: #EF5350;
}

.divider{
  border: 0;
  height: 1px;
  background: #ccc;
  width: 250px;
  margin: 32px auto 0;
}

.poll-detail-page .poll-title{
  font-size: 42px;
  color: #454545;
}

.poll-detail-page > p {
  margin-top: -10px;
}

.poll-and-chart {
  display: flex
}

.poll-detail {
  flex: 1;
  margin-top: -20px;
}

.poll-chart {
  max-width: 550px;
  min-width: 350px;
  flex: 2;
  margin-top: -10px;
  padding-bottom: 25px;
  float: left;
}

.share-button {
  display: inline-block;
  padding: 2px;
}

.share-button:focus, .submit-btn:focus, .submit-btn:active {
  outline: none !important;
}

.submit-btn {
  font-size: 15px;
}

.detail-submit-and-share-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.detail-submit-and-share-btns .share-btns {
  margin-left: auto;
}


/* from https://codepen.io/BuddyLReno/pen/boGRPO */
.input-group {
  background-color: #fff;
  display: block;
  margin: 10px 0;
  position: relative;
  outline: #757575;
}

.input-group label {
  padding: 12px 30px;
  width: 100%;
  display: block;
  text-align: left;
  color: #3C454C;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 200ms ease-in;
  overflow: hidden;
}

.input-group label::before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: '';
  background-color: rgb(0, 146, 228);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale3d(1, 1, 1);
  transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
  opacity: 0;
  z-index: -1;
}

.input-group label::after {
  width: 32px;
  height: 32px;
  content: '';
  border: 2px solid #D1D7DC;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: 2px 3px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms ease-in;
}

.input-group input:checked ~ label {
  color: #fff;
}

.input-group input:checked ~ label::before {
  transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
}

.input-group input:checked ~ label::after {
  background-color: rgb(6, 75, 223);
  border-color: rgb(6, 75, 223);
}

.input-group input {
  width: 32px;
  height: 32px;
  order: 1;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}
