.header {
  background-color: rgb(0, 146, 228);
}

.content {
  width: 100%;
  max-width: 980px;
  margin: auto;
  padding: 16px 16px;
  overflow: auto;
}

.site-title {
  font-weight: 300;
  font-size: 42px;
  float: left;
}

.site-title a {
  text-decoration: none !important;
  color: #FFF;
}

.site-title a:hover {
  text-decoration: none;
}

.add-poll-button {
  color: #FFF;
  background: #03A9F4;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 1000px;
  float: right;
  margin-top: 24px;
}

.add-poll-button:focus,
.add-poll-button:hover {
  color: #FFF;
  text-decoration: none;
}

.navbar {
  background: rgba(0, 0, 0, 0.1);
}

.navbar ul {
  list-style: none;
  width: 100%;
  margin: auto;
  text-align: right;
}

.navbar li {
  display: inline-block;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
}

.navbar a {
  color: #FFF;
}

.navbar li:first-child {
  color: rgba(255, 255, 255, 0.7);
}

.selected {
  border-bottom: 1px solid #fff;
}

@media (max-width: 767px){
  .add-poll-button{
    float: left;
    margin-top: 24px;
    margin-left: 5px;
  }
}
